<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@500;600;700&family=JetBrains+Mono:wght@400;500&family=Source+Sans+3:wght@400;500;600;700&display=swap" rel="stylesheet" />
<link rel="stylesheet" href="/css/custom.css" />
{{ if .Params.distill }}
<script src="https://distill.pub/template.v1.js"></script>
{{ end }}
{{ if .Params.distill }}
<link rel="stylesheet" href="/css/distill.css" />
{{ end }}
